body{ 
	 padding:0;  margin:0;
	 color: #666;
}
#header{
	font-size: 12px;
	width: 100%;
	height: 28px;
	background-color: #f9f9f9;	
    padding: 0;
	margin: 0;
	border-top: 1px solid #eee;
	box-shadow: 0 0 5px #888888;	
}
#shouyehead{
	height: 178px;
	margin: 0 auto 0;
	width: 1170px;
}
#shouyeheadone{
	float: left;
    width: 164px;
	height: 28px;
    padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none; 
	color: #666;
}
a:hover{
	color:#999;
}
i{
    font-style: italic;
    display: block;
}
.stara{
	padding: 6px 8px 6px 0;
    height: 15px;
    width: 65.2px;
    vertical-align: top;
}
.li_one{
	    float: left;
}
.li_one img{
    width: 65.2px;
}
.li_two{
    display: inline-block;
    width: 82px;    

}

.denglu{
    padding: 0 5px 0 10px;
    color: #f76120;
}
.zhuce{
    padding: 0 5px 0 5px;
    color: #666;
    border-right: 1px solid #ddd;
}
#shouyeheadon{	
	display: inline;
    font-size: 12px;
    float: right;
    width: 542px;
    height: 28px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;   
}
.li_1{
	float: left;
    display: block;
    padding: 6px 8px;
	vertical-align: top;
	height: 16px;
}
.li_1 a{
	color: #666;
}
.drop_account{
	float: left;
    height: 28px;
    width: 82px;
    margin: 0;
    padding: 0;
}
.my_account{
	position: relative;

    display: inline-block;
    height: 16px;
    padding: 6px 20px 6px 12px;
    margin: 0 1px;
    color: #666;
    z-index: 93;
}
.tri{
	position: absolute;
    border: 3px  solid transparent; 
    top: 14px;
    right: 7px;
    border-top: 3px solid #999;
}
.dropdown-menu {
    position: absolute;
    display: none;
    top: 27px;  
    padding: 10px 0;
    border: 1px solid #ddd;
    color: #666;
    background: #fff;
    z-index: 92;
    box-shadow: 1px 1px 2px rgba(203,203,203,.5);
}
.tri--dropdown{

}
.my-account{
    position: relative;
    display: inline-block;
    height: 16px;
    padding: 6px 20px 6px 12px;
    margin: 0 1px;
    color: #666;
}
.dropdown-menu--account{
	width: 80px;
}
.dropdown-menu__item {

    display: block;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background: #fff;
    color: #666;
    transition: background .2s ease-in;
}
.dropdown:hover{
	background-color: #fff;
	color:#999;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5);
	border: 0 1px 0 1px solid #ddd;
}
.dropdown:hover ul{
    display: block;
}
.dropdown ul li:hover a{
	background-color: #f9f9f9;
}
.my_history{
    float: left;
    width: 82px;
    height: 28px;
    margin: 0;
    padding: 0;
    color: #666;
}
.myhistory_menu{
	width: 219px;
    line-height: 50px;
    text-align: center;
}
.dropdown:hover div{
    display: block;
}
.dropdown-menu--help {
    width: 92px;
}
.drop_more{
	width: 58px;
}
.header2{
    position: relative;
    margin: 0 auto;
    height: 105px;
    width: 1170px;
}
.site-logo{
	float: left;
    display: block;
    width: 82px;
    height: 54px;
    margin-top: 21px;
    overflow: hidden;
}
.cityname{
    float: left;
    margin: 24px 0 0 10px;
    width: 123px;
}
.city_name{
    font-size: 18px;
    font-weight: 700;
    color: #000;

}
.city_cg{
    border: 1px solid #eee;
    padding: 2px 5px;
    line-height: 20px;
   	font-size: 12px;
    color: #999;
    background: #fff;
}
h1,h2,form,ul,a,p,div,dl,dt,i,span,h3{
	margin: 0;
	padding: 0;
}
.search-box{
    float: left;
    position: relative;
    margin: 21px 0 0 120px;
}
.search-boxc{
    position: relative;
    float: left;
    width: 64px;
    height: 38px;
    border: 2px solid #2db8ad;
    border-right: none;
}
.search-box__tabs {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    overflow: hidden;
    z-index: 9;
}
.search-boxc:hover ul{
	overflow: visible;
	border-top: none;
    border: 1px solid #ddd;
	border-top: none;
	height: none;
}
.search-boxc ul li:hover{
	background-color: #f9f9f9;
}
.search-box__tab {
    padding: 3px 20px 3px 14px;
    line-height: 32px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.tab--shops{
	border: 0 2px 1px 1px solid #ddd
}
.search-box__input {
    float: left;
    margin: 0;
    padding: 6px 5px;
    border: 2px solid #2db8ad;
    border-right: none;
    border-left: none;
    border-radius: 0;
    width: 338px;
    height: 26px;
    line-height: 26px;
    width: 348px;
}
.search-box__button {
    float: left;
    width: 65px;
    margin: 0;
    height: 42px;
    line-height: 42px;
    border: none;
    color: #fff;
    background: #2bb8aa;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
}
.site-commitment {
	margin-top: 29px;
    float: right;
}
.commitment-item {
    float: left;
    display: block;
    margin-left: 20px;
    height: 42px;
    text-align: center;
    font-size: 12px;
    color: #999;
}
.hot{
	width: 490px;
}
#hot-link--first {
    padding-left: 0;
}
.hot-link{
	height: 22px;
    width: 490px;
    line-height: 22px;
    font-size: 10px;
    padding: 0 8px;
}
.head-l{
	width: 1170px;
	height: 40px;
	margin: 0 auto 0;
	background-color: #2bb8aa;
	color: white;
}
.head-ll{
	width: 1170px;
}
.navbar{
	float: left;
}
.navbar__item {
    position: relative;
    display: inline-block;
    padding: 10px 18px 9px;
    min-width: 54px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.mt{
	display: block;
    padding-left: 15px;
    width: 231px;
    height: 40px;
    line-height: 38px;
}
.mt-a{
	height: 477px;
	width: 245px;
	background-color: #fafafa;
	border: 1px solid #eee;
	font-size: 12px;
	z-index: 1;
	border-right: none;
	float: left;
}
.mta-1{
	height: 52.8px;
}
.mtzi{
	height: 22px;
	font-size: 14px;
	font-weight: 700;
	color: #333;
}
.mtzi1{
	min-height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #999;
}
.mta-111{
    position: relative;
    margin: 0 10px;
    padding: 5px 0 4px 5px;
    border-top: 1px solid #eee;
    height: 43px;
}
dl{
	height: 43px;
	line-height: 43px;
	display: block;
	width: 203.2px;
	padding-right: 16px;
	overflow: hidden;
}
.mta-111-dt{
	min-width: 90px;
	float: left;
}
.mta-111-dd{
	display: inline-block;
	margin-right: 2px;
	margin-left: 10px;
    line-height: 28px;
}
.mta-111-dd1{
	display: inline-block;
	margin-right: 2px;
	margin-left: 5px;
    line-height: 8px;
}
.mta-111-dd2{
    display: inline-block;
    margin-right: 2px;
    margin-left: 35px;
    line-height: 8px;
}
.mta-111-dd3{
    display: inline-block;
    margin-right: 2px;
    margin-left: 15px;
    line-height: 8px;
}
.mta-111-dd4{
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    line-height: 8px;
}

.mtzi2{
    font-style: normal;
    font-weight: 800;
    speak: none;
    text-decoration: none;
    position: absolute;
    left: 210px;
    top: 50%;
    margin-top: -.5em;
    font-size: 12px;
    line-height: 1;
    color: #ddd;
    float: right;
}

.mta-111h{
	height: 477px;
	padding: 0;
    white-space: nowrap;
    vertical-align: top;
    width: 225px;
    display: block;
    border-top: none;
}
.mta-111h-1{
    height: 477px;
    padding: 0;
    vertical-align: top;
    min-width: 150px;
    display: block;
}
.mta-111-nav{
	padding-left: 245px;
    height: 478.78px;
    border-right: 1px solid #bdbdc7;
    border-bottom: 1px solid #bdbdc7; 
}
.mta-111-nav1{
    min-width: 255px;
}
.mta-111-nav2{
    min-width: 190px;

}
.mta-111-tittle{
    padding: 16px 10px 0;
    background-color: #fff;
        height: 477px;
}
.mta-111-tittle-a{
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 16px;
    display: block;
}
.m1t{
	color: #333;
    font-size: 20px;
    line-height: 24px;
}
.mta-111-tittle-ul{
    width: 120px;
    padding-left: 10px;
    vertical-align: top;
    overflow: hidden;
    display:inline-block; 
}
.mta-a{
    float: left;
}
.keywords__item{
	color: #666;
    font-size: 12px;
    line-height: 24px;
}
.mta-111h{
    z-index: -1;
}
.mta-111h-1{
    z-index: -2;
    position: relative;
    float: left;
}
.ulul1{
   display: block;
}

.hidden{
    height: 0px;
    width: auto;
    top: 0px;
}
.slash{
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin:0;
}
.content{
    width: 1170px;
    height: 478px;
    margin: 0 auto 0;

}
.content_one{
    margin-left: 245px;

}
.content__header {
    width: 1170px;
    height: 478px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
        z-index: -1;
}
.content-one{
    padding: 14px 0;
    border-bottom: 1px solid #eee;
    height:24px; 
    width:689px;
}
.label {
    position: relative;
    padding-left: 20px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-right: 20px;
    display: inline-block;
    width: 68px;
    float: left;
}
.F-glob{
    height: 24px;
    width: 20px;
    float:left;
}
.f-strip {
    margin-left: 20px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
}
.f-strip__list>li {
    margin-right: 20px;
    vertical-align: top;
    float: left;
    min-width: 36px;
}
