body{ 
	 padding:0;  margin:0;
	}
#shouyehead{
	height: 178px;
	margin: 0 auto0;
}
#shouyehead_one{
	position: relative;
	float: left;
	width: 100%;
	height: 33px;
	background-color: #f9f9f9;
	border:1px solid #dedede;
    padding: 0;
	margin: 0;
}
.stara{
	text-align:center;
	display:block;
	height: 20px;
	width: 82px;
	position: relative;
	text-align:center;
    padding: 6px 8px 6px 0;
	left: 12%;

}
ul>li{
	float: left;
	left: 12%;
	height: 14.4px;
	width: 38.4px;
	margin  0;
	padding: 0;    
	list-style:none;
}
.denglu{
		position: absolute;
			left:20%;
}
.zhuce{
			position: absolute;
			left: 22%;
}
