.header1{
    position: relative;
    width: 980px;
    height: auto;
    margin: 40px auto 30px;
}
.site-logo:after{
    margin: 0;
    width: 82px;
    height: 54px;
    background-position: -188px -782px;
    display: block;
    background-size: initial;
    float: left;
    display: inline;
    overflow: hidden;
}
.zhongjian2{
    float: left;
    height: 370px;
    margin: 0 115px 0 0;
    width: 480px;
    padding: 0;
}
.zhongjian1{
	margin: 0 auto 70px;
    width: 980px;
    height: 370px;
}
.loginname{
	display: inline;
	width: 270px;
}
.former{
	display: inline;
	width: 270px;
	margin: 30px 0 40px 0;}
.denglubiaoqian1{
	display: inline;
	font-size: 15px;
	color: #666666;
	width: 270px;
	margin: 0 auto;
}
.zhanghaodenglu{
	display: inline;
	margin: 0 110px 0 0;
}
.lianjie1{
	display: inline;
	text-decoration:none;
	color: #666666;
	font-size: 13px;
}
.dongtaima{
	display: inline-block; 
	font-style: normal;
}
.lianjie1:hover{
	text-decoration:underline;
}
.username1{
	margin: 10px 0 10px 0;
	height: 30px;
	width: 270px;
	background-image: url("photo/denglu/a.png");
}
.userkey1{
	margin: 10px 0 10px 0;
	height: 30px;
	width: 270px;
    background-image: url("photo/denglu/b.png");
}
button{
	margin: 15px 0 0 0;
    line-height: 1.5;
	width: 270px;
	background-color: #2dbbad;
	color: white;
	border-radius: 0;
	border-style: solid;
    border-width: 0 0 1px;
    border-color: #008177;
    font-size: 14px;
    padding: 7px 20px 6px;
    font-weight: 700;
    letter-spacing: .1em;

}
.zidongdenglu{
	display: inline;
	font-size: 13px;
	margin: 10px 0 0 0;
}
.wangjimima{
	display: inline-block;
	font-size: 14px;
	color: #666666;
	margin: 0 0 0 110px;
	text-decoration:none;
}
.wangjimima:hover{
	text-decoration:underline;
}
.chufa{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f5d8a7;
    border-radius: 2px;
    background: #fff6db;
    font-size: 12px;
}
.signup--guide{
	color: #666;
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 14px;
    text-decoration:none;
}
.guide{
	font-size: 14px;
    text-decoration:none;
    color: #2bb8aa;
}
.guide:hover{
	text-decoration:underline;	
}
.title{
	display: inline-block;
	width: 270px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    background: #FFF;
}
.tubiao{
	display: inline-block;
	width: 270px;
	text-align: center;
	text-decoration:none;
}
.tubiao_qq{
    margin:0 10px 0 0;
    text-decoration:none;
}
.tubiao_weibo{
    margin:0 0 0 10px;
    text-decoration:none;
}
.tubiao_qq:hover{
	color: #2bb8aa;
    text-decoration: none;
}
li{	
	list-style: none;
	float: left;
	padding:10px 0px 10px 30px;

}
a{
	    color: #2bb8aa;
	    text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.footer {
    margin: 0 auto 30px;
    clear: both;
    width: 980px;
    font-size: 12px;
    color: #2bb8aa;
}
.footer .foot_left{
	argin-bottom: 20px;
    padding: 12px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE; 
}
.footer.foot_left ul{
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    width: 594px;
}
ul>li{
	margin: 5px 0;
    padding: 0 16px;
    line-height: 14px;
    border-right: 1px solid #EEE;
}
.first{
	padding-left: 0px;
}
.baozhang{
	cursor: auto;
	vertical-align: top;
	border: 0;
	width: 276px;
    height: 24px;
}
.footer .foot_left ul {
    float: left;
    width: 594px;
    color: #EEE;
    padding: 0;
}
