header{
	border-bottom: 2px solid #2bb8aa;
	min-width:980px;
	color: #666;
}
.head_line{
    display: flex; 
	justify-content: space-between;
	align-items: center;
	content:"";
	margin: 0 auto;
	padding: 10px 0;
	width: 980px;
    clear: both;
}

a{
	color: #2bb8aa;
    text-decoration: none
}
.site_logo{
    width: 54px;
    height: 36px;
    background-image: url("photo/denglu/meituan1.png");
    background-size: cover;
    overflow: hidden;
    float: left;
    display: block;
    text-indent:-9999em;
}
.site_logo1{
	display: inline-block;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: 400;
	background-color: #2db3a6;
	color: white;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	border-width: 0 0 1px;
    border-style: solid;
}
.content{
	margin: 0 auto 30px;
    padding-top: 30px;
    width: 980px;
    min-height: 300px;
}
.mobile{
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.mobile label{
	position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.mobile_{
	width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.mobile__{
	display: inline-block;
    margin-left: 4px;
    padding: 6px 0;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    vertical-align: top;
    zoom: 1;
}
.letter{
	padding: 0 0 0 110px;
	zoom: 1;
}
.letter label{
	display: none;
}
.btn{
	padding: 1px 8px 0;
    font-size: 12px;
    color: #333;
    background-color: #dedede;
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #aaa;
    font-weight: 400;
    -webkit-font-smoothing: initial;
}
.dxdtm label{
	position: absolute;
    left: 0;
    width: 100px;
	padding: 6 0 0 110px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.form-field--pwd{
	padding-bottom: 27px;
}
.pw-strength {
    position: absolute;
    width: 260px;
    top: 50px;
    left: 110px;
    background: #eee;
}
.pw-strength__letter {
    position: absolute;
    top: 0;
    left: 0;
}
.pw-strength__label {
    display: block;
    float: left;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 85px;
    border-right: 2px solid #fff;
    color: white;
    background: #eee
}
.f-text {
    width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.btn{
    padding: 1px 8px 0;
    font-size: 12px;
    color: #333;
    background-color: #dedede;
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #aaa;
    font-weight: 400;
    -webkit-font-smoothing: initial;
}
.btn1{
	    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .1em;
    text-decoration: none;
    border-width: 0 0 1px;
    border-style: solid;
    background-repeat: repeat-x;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: #666;
}
.footer--mini {
    border-top: 1px solid #EEE;
    padding-top: 20px;
    text-align: center;
}
.copyright {
    font-size: 12px;
    font-family: initial;
}
a {
    color: #2bb8aa;
    text-decoration: none;
}
.copyright {
    font-size: 12px;
    font-family: initial;
    color: #2bb8aa;
}